<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 content-menu navbar navbar-inverse">
      <ul class="content-nav">
      	<li class="inactive"><a href="#" class="screen">SCREEN</a></li>
      	<li class="inactive"><a href="#" class="features">FEATURES</a></li>
      	<li class="inactive"><a href="#" class="internet">INTERNET</a></li>
      	<li class="inactive"><a href="#" class="durability">DURABILITY</a></li>
      	<li class="inactive"><a href="#" class="price">PRICE</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-1 image-panel">
  	  <%= image_tag("wrist_computer.jpg", class: "img-responsive") %>
    </div>
    
    <div class="col-md-3 col-md-offset-1 red-panel text-center">
  	  <p>Our super-powered LCD touchscreen connects 
  	   you to everything you need and want</p>
    </div>
    
    <div class="col-md-10 col-md-offset-1 black-panel text-center">
      <p>Lorem dorem super nostit keg up locit tacit fritter night dolor ipsum
      	 quacit notor makeup timely nostrum ipso nor macit kotor malik</p>
    </div>
    
    <div class="col-md-4 col-md-offset-1 info-panel text-center">
      <p>Lorem dorem super nostit keg up locit tacit fritter night dolor ipsum
      	 quacit notor makeup timely nostrum ipso nor macit kotor malik</p>
    </div>
    
    <div class="col-md-5 col-md-offset-1 image2-panel">
      <%= image_tag("wrist_computer.jpg", class: "img-responsive") %>
    </div>
    
    <div class="col-md-10 col-md-offset-1 back-info">
      <p>Lorem dorem super nostit keg up locit tacit fritter night dolor ipsum
      	 quacit notor makeup timely nostrum ipso nor macit kotor malik</p>
    </div>
    
    <div class="col-md-5 col-md-offset-1 internet-img">
      <%= image_tag("wrist_computer.jpg", class: "img-responsive") %>
    </div>
    
    <div class="col-md-10 col-md-offset-1 durability-back"></div>
      
    <div class="col-md-5 col-md-offset-1 durability-img">
      <%= image_tag("wrist_computer.jpg", class: "img-responsive") %>
    </div>
    
    <div class="col-md-3 col-md-offset-1 durability-red">
      <p>Lorem dorem super nostit keg up locit tacit fritter night dolor ipsum
      	 quacit notor makeup timely nostrum ipso nor macit kotor malik</p>
    </div>
    
    <div class="col-md-10 col-md-offset-1 price-back"></div>
    
    <div class="col-md-4 col-md-offset-1 price-info">
      <p>Lorem dorem super nostit keg up locit tacit fritter night dolor ipsum
      	 quacit notor makeup timely nostrum ipso nor macit kotor malik</p>
    </div>
    
    <div class="col-md-5 col-md-offset-1 price-img">
      <%= image_tag("wrist_computer.jpg", class: "img-responsive") %>
    </div>
  </div>
</div>
